* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.player-chooser {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 10px;
  }

  img {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: 3px solid #dadada;
  }
}

.start-match-ui {
  .player {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    border-radius: 50px;
    border: 3px solid #dadada;
  }

  img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border: 3px solid #dadada;
  }
}
